---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'QA or the Highway - A Conference for Quality Engineering Professionals' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">

    <!-- Givebutter Widget Library -->
    <script
      async
      src="https://widgets.givebutter.com/latest.umd.cjs?acct=MUtfYjEnxvquTXC2&p=other"
    ></script>

    <title>{title}</title>
  </head>
  <body class="relative text-gray-900">
    <div class="fixed inset-0 bg-textured-light -z-50"></div>
    <Navbar />
    <slot />
  </body>
</html>
